<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>用户名： <%= name %></p>
    <p>密码：<%= password %></p>
    <p>真实姓名：<%= realname %></p>
    <p>性别：<%= sex %></p>
    <p>年龄：<%= age %></p>
    <p>邮箱：<%= email %></p>
    <p>手机号：<%= phone %></p>
    <p>地址：<%= address %></p>
  </body>
</html>
